@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
        
        body {
            font-family: 'Poppins', sans-serif;
          }

          @media only screen and (min-width: 600px) {
            
          
            body{
                background-color: #36384D;
                display: flex;
                flex-flow:column;
                justify-content: center;
                align-items: center;
                align-content: left;
                text-align: left;
                min-height: 100vh;
            }
            
        
            
            h1{
                color: #36384D;
                margin-left: 15pt;
                margin-top: 35pt;
            }
        
            .p{
                margin-left: 15pt;
                font-size: 8.5pt;
                color: #36384D;
                text-align: left;
                line-height: 1.5;
                margin-bottom: 2pt;
            }
            
            .flexbox{
                background-color:white;
                display: block;
                position: fixed;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                align-content: left;
                text-align: left;
                padding: 1%;
                border-radius: 1em;
                width: 600px;
                height: 420px;
            }
            
            .image-size{
                width: 250px;
                height: 410px;
                border-radius: 0.5em;
                margin-top: 5px;
                margin-right: 8px;
            }
            
            .flotte{
                float: right;
            }
            
            .icone{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }

            .space {
                margin-top: 20px;
            }
            
            input,
            label {
              color: #36384D;
              height: 25px;
              width: 250px;
              margin: 0.4rem 0;
              margin-left: 3%;
            }
            
            .styled{
               background-color: #36384D; 
               color: white;
               border-radius: 0.5em;
               height: 40px;
               width: 258px;
               text-align: center;
               margin: 0.4rem 0;
               margin-left: 15pt;
            }

        }

        

        @media only screen and (max-width: 600px) {
            body {
                display: flex;
                flex-flow:column;
                align-items: center;
                min-height: 100vh;
                margin: 0;
                padding: 0;
            }
            
            h1{
                color: #36384D;
                font-size: 22pt;
                text-align: left;
                margin-left: 10%;
            }
            
            .p{
                text-align: left;
                font-size: 70%;
                margin-left: 10%;
                line-height: 2;
            }

            div{
                color: #36384D;
                text-align: left;
            }

            .flexbox{
                background-color:white;
                display: block;
                position: fixed;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                align-content: left;
                text-align: left;
            }

            .image-size{
                height: 200pt;
                border-radius: 0 0 0.5em 0.5em;
                background-clip: content-box;
                width: 100%;
                margin-bottom: 5%;
            }

            .flotte{
                float: right;
            }

            .icone{
                width: 6%;
                height: 6%;
                margin-right: 7px;
            }

            .space {
                margin-top: 20px;
            }

            input,
            label {
              color: #36384D;
              height: 30px;
              width: 78%;
              margin: 0.4em;
              margin-left: 10%;
            }

            .styled {
                background-color: #36384D; 
                color: white;
                border-radius: 1em;
                height: 40px;
                width: 82%;
                text-align: center;
                margin-top: 1em;
                margin-left: 10%;
            }
        } 
        
       
            