@media only screen and (min-width: 600px) {

body{
        background-color: #36384D;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 100vh;
    }
    
    h1{
        color: #36384D;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
    p{
        color: #36384D;
        font-size: 8.9pt;
        margin-left: 5%;
    }
    
    .flexbox{
        background-color:white;
        display: block;
        position: fixed;
        flex-direction: column;
        text-align: left;
        padding: 2%;
        align-items: left;
        justify-content: left;
        align-content: left;
        border-radius: 1em;
        width: 260px;
    }
    
    .styled{
        background-color: #36384D; 
        color: white;
        border-radius: 0.5em;
        height: 40px;
        width: 240px;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-left: 5%;
        margin-top: 4%;
     }
    
     .image{
        width: 40px;
        height: 40px;
        margin-left: 5%;
     }
     
    }

    @media only screen and (max-width: 600px) {
    body{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 100vh;
    }
    
    h1{
        color: #36384D;
        margin: 5%
    }
    
    p{
        color: #36384D;
        font-size: 10pt;
        margin: 5%
    }
    
    .flexbox{
        background-color:white;
        display: block;
        position: fixed;
        flex-direction: column;
        text-align: left;
        padding: 2%;
        align-items: left;
        justify-content: left;
        align-content: left;
        width: 260px;
        height: 600px;
        line-height: 1.5;
    }
    
    .styled{
        background-color: #36384D; 
        color: white;
        border-radius: 0.5em;
        height: 40px;
        width: 250px;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-top: 230px;
    
     }
    
     .image{
        width: 60px;
        height: 60px;
        margin: 5%;
     }   
    }